/* Generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', 'Helvetica Neue', 'Helvetica',Arial, sans-serif;
}

/* Utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.col {
    float: left;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}
.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
    display: block;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.btn {
    text-decoration: none;
    background-color:white;
    font-weight: bold;
}

.btn-light {
    color: #23272A;
    text-decoration: none;
    background-color:white;
    text-align: center;
    margin-right: 20px;
}

.btn-light:hover {
    background-color: white;
    color: blue;
}

.btn-dark {
    color: white;
    text-decoration: none;
    background-color:#23272A;
    border-radius: 20px;
    text-align: center;
}

.btn-dark:hover {
    background-color: #23272A;
    color: blue;
}

.btn-small {
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
}

.btn-big {
    border-radius: 40px;
    padding: 20px 25px;
    font-size: 21px;
}

.btn-down {
    position: absolute;
    bottom: 0;
    right: 45%;
    transform: translate(10%, 150%);
    color: white;
    background-color: #8EA1E1;
    padding: 10px 15px;
}

.btn-down:hover {
    background-color: #8EA1E1;
}

.last-row .btn {
    color: white;
    background-color: #8EA1E1;
}

.last-row .btn:hover {
    color: blue;
    background-color: #8EA1E1;
}
.content {
    max-width: 600px;
}
/* Header */

/* ----top-bar---- */
header {
    color: white;
}

.top-bar {
    width: 100%;
    height: 80px;
    background-color: #255EE9;
    line-height: 80px;
}

#logo {
    width: auto;
    height: 40px;
    vertical-align: middle;
}
ul {
    display: inline;
}

.top-bar .top-menu, 
.top-bar .top-menu li {
    font-size: 18px;
    list-style-type: none;
    display: inline-block;
}

.top-bar .top-menu li {
    margin: 0 20px;
}

.top-bar .top-menu a {
    color: white;
    text-decoration: none;
}

.top-bar .top-menu a:hover {
    text-decoration: underline;
}

/* ----jumbotron---- */
.jumbotron {
    height: 620px;
    background-image: url('/img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.jumbotron .contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.jumbotron h1 {
    font-size: 62px;
    margin-bottom: 40px;
}

.jumbotron p {
    font-size: 22px;
    margin-bottom: 50px;
    line-height: 30px;
}

.arrow::before {
    content: '\1F817';
    font-weight: bolder;
    font-size: 22px;
    vertical-align: middle;

}

/* Main */
.full-page {
    padding: 50px 0;
    position: relative;
}

.full-page .contain {
    position: relative;
    left: 30px;
    top: 0px;
    padding: 0 50px;
}

.full-page .contain-left {
    position: relative;
    right: 30px;
    top: 0px;
    padding: 0 50px;
}

.full-page h2 {
    font-size: 52px;
    margin: 150px 0 50px 0;
}


.full-page p {
    font-size: 22px;
    line-height: 30px;
}

.img-left {
    position: relative;
    right: 10%;
    top: 120px;
}

.img-right {
    position: relative;
    top: 120px;
    left: 10%;
}

.img-center {
    width: 100%;
    margin-bottom: 40px;
}

.img-stars {
    background-image: url('/img/stars.svg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 34%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.full-page h4 {
    position: relative;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

/* Footer */
footer {
    margin-top: 150px;
    color: white;
    
}
.end-page {
    height: 600px;
    background-color: #23272A;
}

footer h4 {
    color: #7289DA;
    font-size: 38px;
}

.end-page .lenguage img {
    height: 20px;
    width: auto;
}
.end-page .lenguage {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fab {
    color: white;
    font-size: 26px;
    margin-right: 20px;
}
h5 {
    color: #7289DA;
    font-size: 18px;    
}
.section-top {
    margin-top: 60px;
    vertical-align: text-top;
}

.section-bot {
    font-size: 18px;
    display: inline-block;
    margin-top: 60px;
    margin-left: 40px;
    padding-left: 20px;
    vertical-align: text-top;
    height: 300px;
    line-height: 30px;
}

.end-page .section-bot li,
.end-page .section-bot li a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.border {
    width: 100%;
    border-top: 1px solid #7289DA;
    margin-top: 100px;
}

.last-row .col {
    margin-top: 10px;
}

.last-row {
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}